<h1>Little Shop of Orders</h1>

<section>
Welcome to our Little Shop ficticious e-commerce platform.

  <aside>
  Built with grit and determination by:
  <ul>
    <li><%= link_to 'Brian Zanti', 'https://github.com/brianzanti' %></li>
    <li><%= link_to 'Megan McMahon', 'https://github.com/memcmahon' %></li>
    <li><%= link_to 'Ian Douglas', 'https://github.com/iandouglas' %></li>
  </aside>
</section>