<% @users.each do |user| %>
  <section id='user-<%= user.id %>'>
    <%= link_to user.name, admin_user_path(user) %>
    Registered On: <%= user.created_at.to_time.strftime('%B %e, %Y') %>
    <%= button_to 'Upgrade to Merchant', admin_upgrade_user_path(user), method: :patch %>
  </section>
<% end %>
